.button {
  border: none;
  outline: none;
  background-color: #f00;
  color: #fff;
  font-family: "MinionPro", sans-serif;
  border-radius: 4px;
  height: 60px;
  font-size: 32px;

  cursor: pointer;

  padding: 0 20px;
  display: inline-block;
  justify-self: start;
}

@media (max-width: 1000px) {

  .button {
    height: 40px;
    font-size: 24px;
  }
}
