.headline {
  font-family: "MinionPro", sans-serif;
  font-size: 72px;
}

.headline > .name {
  color: #f00;
  margin-bottom: 20px;
}

.headline > .text {
  color: #000;
}



@media (max-width: 1000px) {
  .headline {
    font-size: 32px;
  }
}
